.overflow-fix {
  overflow: scroll !important;
}

.anmeldung-subtitle {
  font-size: 56%;
}

.title-bar {
  bottom: auto !important;

  & a {
    color: $titlebar-color;
  }

  &.is-stuck .title-bar-left {
    background: url(../images/logo-affix.png) no-repeat top left;
    padding-left: 131px;
    margin: 2px;
  }
}

