.overflow-fix {
  overflow: scroll !important;
}

.anmeldung-subtitle {
  font-size: 56%;
}

.title-bar {
  bottom: auto !important;
  padding: 0 0.5rem;

  & a {
    color: $titlebar-color;
    line-height: 1.6 !important;

    &:hover {
      background: rgba(100, 100, 100, 0.5);
    }
  }

  &.is-stuck .title-bar--logo-container {
    background: url(../images/logo-affix.png) no-repeat top left;
    height: 2.8em;
    padding-left: 131px;
    margin: 2px;
  }

  .show-for-small-only {
    padding: 0.5rem;

    .menu {
      border: 1px solid darkgrey;
      border-radius: 20%;

      .menu-icon {
        margin: 5px;
      }
    }
  }
}

