.overflow-fix {
  overflow: scroll !important;
}

.anmeldung-subtitle {
  font-size: 56%;
}

.title-bar {
  bottom: auto !important;
  padding: 0 0.5rem;

  & a {
    color: $titlebar-color;
    line-height: 1.6 !important;

    &:hover {
      background: rgba(100, 100, 100, 0.5);
    }
  }

  &.is-stuck .title-bar-left {
    background: url(../images/logo-affix.png) no-repeat top left;
    padding-left: 131px;
    margin: 2px;
  }
}

